/* Reset basic styles */
/* === Container to position everything === */
body{
   background-color: #F6F5F3;
}

.wholeWrap {
 
  margin-top: 20px;
 
  padding: 1rem 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex: 1;
  min-height: 100vh;
  box-sizing: border-box;
}

/* === Search and Category Wrap (aligned to right) === */
.top-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  background: #ECE9E7;
  border-radius: 20px;
  padding: 6px 10px;
  
  max-width: 900px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.search-bar-wrapper:focus-within {
  
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 50px;
  background: transparent;
  color: #333;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background:#ECE9E7;
  border: none;
  padding: 10px;
  width: 60px;
  border-radius: 80px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  transform: scale(1.1);
  
}

.search-icon {
  color: #CACBD1;
  font-size: 20px;
}



.profiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.4fr));
  padding: 2rem;
  gap: 4rem; 
 align-items: stretch;
}

.profile-c{
   background-color: #fff;
   border: 1px solid #f3ece6;
  border-radius: 12px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* spread content nicely */
  text-align: center;
  height: 100%;
   margin-bottom: 1rem;
}



.profile-c:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.profile-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-i h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.profile-i .role {
  font-size: 0.85rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.profile-i .description {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.4;
}



.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  margin-top: 30px;
}

.category-button {
  padding: 0.4rem 1rem;
  border-radius: 999px;
  border: 1px solid #181F39;
  color: #181F39;
  background-color: white;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

.category-button:hover {
  background-color:#4bb2f0;
  color: white;
  border-color: #4bb2f0;
}

.category-button.active {
  background-color:#163446;
  color: white;
  border-color: #163446;
}

.profile-layout {
  display: flex;
  align-items: flex-start;
margin-left: -40px; 
}



.profile-right {
  margin-top: 30px;
  width: 50px; /* Fixed sidebar width for Suggestions */
}